In [1]:
import pandas as pd
data = pd.read_csv("/Users/zhaozihao/Desktop/年.csv")

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              10000 non-null  int64
 1   title               10000 non-null  object
 2   authors             10000 non-null  object
 3   average_rating      10000 non-null  float64
 4   isbn                10000 non-null  object
 5   isbn13              10000 non-null  float64
 6   language_code       10000 non-null  object
 7   num_pages           10000 non-null  int64
 8   ratings_count       10000 non-null  int64
 9   text_reviews_count  10000 non-null  int64
 10  year                10000 non-null  int64
 11  publisher           10000 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 937.6+ KB

In [3]:
data.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,year,publisher
0,8253,Little Town on the Prairie (Little House #7),Laura Ingalls Wilder/Garth Williams,4.19,60885432,9.780000e+12,eng,374,71853,646,2007,HarperTrophy
1,11101,First Comes Love (Hot Water California #1),Christie Ridgway,3.81,380818957,9.780000e+12,en-US,384,1051,47,2002,Avon Books
2,28193,When Santa Fell to Earth,Cornelia Funke/Paul Howard/Oliver G. Latsch,3.76,043978204X,9.780000e+12,eng,167,1840,245,2006,Chicken House / Scholastic
3,25047,The Case of the Stinky Science Project (Jigsaw...,James Preller/John Speirs/James Preller,3.83,439114284,9.780000e+12,en-US,80,162,11,2001,Scholastic Paperbacks
4,17800,Dance Dance Dance,Haruki Murakami,4.04,99448769,9.780000e+12,eng,393,50169,2117,2002,Vintage

In [4]:
# 判断评分在不在0-5之间
# 结果显示全部都在0-5
count_0 = 0
count_5 = 0
print('average_rating == 0的index为：')
for row in data.itertuples():
#     if(row.average_rating<=0 and row.average_rating>5):
    if(row.average_rating == 0):
        print(row.bookID)
        count_0 = count_0 + 1
print('-------------合计有：')
print(count_0)
print('average_rating == 5的index为：')
for row in data.itertuples():
    if(row.average_rating == 5):
        print(row.bookID)
        count_5 = count_5 + 1
print('-------------合计有：')
print(count_5)

average_rating == 0的index为：
15186
16806
12712
9337
30080
41044
44705
29091
24010
1302
10200
27416
36946
25841
799
19257
25903
3351
45259
42758
24749
-------------合计有：
21
average_rating == 5的index为：
36853
19788
2843
38804
17224
2560
36492
2034
17830
18184
20957
32823
23276
4287
25426
19786
23552
20954
39580
14741
41639
-------------合计有：
21

In [5]:
#判断num_pages等于0的index
count_num_pages = 0
for row in data.itertuples():
    if row.num_pages == 0 :
        print(row.bookID)
        count_num_pages = count_num_pages + 1
print('-------------合计有:')
print(count_num_pages)

22077
21365
17766
10215
44748
13106
12683
26327
7674
35735
21665
21402
21933
8889
21991
31270
19081
17276
16313
39959
28585
7598
23582
37902
22160
20097
19135
21553
37911
955
17277
40378
15691
21932
13842
13504
3593
21931
17983
6542
21969
3599
38510
21550
7737
43343
35485
4249
21552
10599
29253
16334
21352
41273
5362
29257
9832
6953
26593
21974
45472
27385
40343
16312
2835
34938
34706
8916
-------------合计有:
68

In [6]:
#判断ratings_count等于0的index
count_ratings_count = 0
for row in data.itertuples():
    if row.ratings_count == 0 :
        print(row.bookID)
        count_ratings_count = count_ratings_count + 1
print('-------------合计有:')
print(count_ratings_count)

15186
42863
16806
12712
38710
32540
3754
24062
9337
27647
34607
797
30080
12225
19787
11880
17506
44433
41044
44705
2034
26410
25639
29091
24010
11516
33775
25685
21342
41760
1302
17045
11861
24753
12346
10200
27416
11069
42489
35313
29927
27520
8077
44321
30941
36946
25841
1664
799
1658
15066
19257
22834
25903
35986
26525
3351
21703
33705
35760
45259
30270
11062
42758
34320
24749
2411
39580
3084
41639
-------------合计有:
70

In [7]:
#判断text_reviews_count等于0的index
count_text_reviews_count = 0
for row in data.itertuples():
    if row.text_reviews_count == 0 :
        print(row.bookID)
        count_text_reviews_count = count_text_reviews_count + 1
print('-------------合计有:')
print(count_text_reviews_count)

18081
16642
6148
37817
38376
26800
15186
29085
39571
22743
22822
42915
42863
20913
17043
29868
15862
43283
3916
9253
30272
27798
17766
36361
7757
44567
9153
3744
29460
16806
45017
8053
12712
38710
44790
31999
20398
5061
31434
19254
12457
42728
7793
6896
9184
13323
32540
15087
24562
28699
21930
12683
42162
1750
19156
7141
35652
9866
15295
19084
22944
3100
27877
16191
8048
16844
8051
19788
3754
42831
21665
793
42797
8750
9442
38085
33494
54
39311
28657
24062
31607
43487
9337
31998
34016
15318
34607
8583
7352
25881
33704
20928
44231
34157
32286
38804
27819
4704
1914
19669
11695
19445
31160
21746
797
30080
12225
15544
28470
37066
20394
19563
12035
31356
19081
17276
19787
7277
45516
26904
13964
27844
43063
37525
2680
12783
34319
7142
17384
26009
28958
182
11880
2822
28585
171
17279
12352
30786
28947
17506
35561
34327
44433
25879
37043
6089
16285
45113
20157
23582
135
15783
22804
18047
8428
5991
11723
38336
15735
45294
2560
29069
4964
27419
5974
29167
33247
17762
3130
17040
44705
2756
15082
26839
24635
30041
13587
44849
36822
35244
42625
26829
24028
12059
2034
17277
40421
7422
18660
14591
31996
26410
13562
12350
21248
2949
36399
43271
19885
1461
43269
1584
12789
1506
22786
25639
19165
29091
27399
33771
26996
24010
42501
38640
18305
45267
22945
11516
5813
21932
4418
14414
16647
22885
21931
43499
17807
3152
44046
31995
12226
15740
18438
38510
34241
45450
38238
30482
24598
42706
22718
43461
34227
18140
19780
33775
29140
2167
25685
21342
17830
177
41760
3918
21739
17112
31994
1302
39201
29841
26994
31637
17045
17510
11861
32189
24753
1444
44528
2026
16459
30666
17783
22784
43828
37424
12346
10200
39969
14081
6919
35757
37863
11399
27416
34881
37877
3554
18215
23799
44815
11069
26165
22801
10968
166
15294
28466
6745
36859
8643
17557
11285
23265
44877
42489
36423
37573
35313
19072
8417
35835
5530
15137
12120
29927
25142
31997
34895
11383
43166
27520
17297
11518
8077
22826
17761
44321
34221
17426
23398
30941
36946
25875
25841
1533
12290
9143
38593
35138
17228
1664
799
6152
16074
1364
2218
3167
42180
38012
22739
11886
18184
17503
13018
1658
26670
4216
20323
32039
7741
26593
15111
17035
19373
37592
15521
35633
20957
42811
39315
1566
26836
787
41740
14375
12882
14188
7321
43426
15066
3053
19257
5777
33557
10013
2877
33581
37349
2770
42012
36522
37561
35165
41258
6038
18962
22834
23276
29159
25903
1408
35986
8023
4287
26525
37345
19682
3351
29823
24188
25956
24066
23589
43504
21703
30811
34768
34833
13793
39733
20509
41446
26401
30635
26211
22297
20531
28529
33705
43503
25426
35760
45259
377
9754
38400
12091
25002
37854
19263
6866
36865
30270
11062
18294
42758
36422
40048
1334
24955
28052
25779
25060
34922
25941
36421
21764
13640
44649
34178
22235
14888
20679
28617
33953
33914
17947
34320
29627
1563
27813
1805
38597
23315
12045
31993
24749
27385
2409
23928
41773
650
8044
17778
12993
19786
17850
1771
32160
41719
22816
24894
36425
16544
9582
25740
20327
1731
18214
37694
37595
20813
29976
13639
24438
1480
2211
35163
27627
45223
33017
30091
28532
138
2835
2411
18283
4752
534
29362
31505
11519
9796
15603
13536
45572
24330
17513
28929
20954
34938
11514
38070
44224
32199
39580
17679
17511
41054
821
35050
20126
36925
38538
40291
14741
3084
36266
12086
41639
23235
34247
33762
45193
41715
-------------合计有:
558

In [8]:
# 统计：
# average_rating = 0-----21个
# average_rating = 5-----21个 
# num_pages = 0-----68个---需要删除
# ratings_count = 0-----70个---评级数
# text_reviews_count = 0-----558个---评论数=0正常情况

In [12]:
# 将num_pages==0的数据删除
# 遇到问题：多出第一列
import csv

with open('/Users/zhaozihao/Desktop/年.csv', 'r') as fin, open('/Users/zhaozihao/Desktop/删除问题数据结果.csv', 'w', newline='') as fout:

    # define reader and writer objects
    reader = csv.reader(fin, skipinitialspace=True)
    writer = csv.writer(fout, delimiter=',')

    # write headers
    writer.writerow(next(reader))

    # iterate and write rows based on condition
    for row in data.itertuples():
        if row.num_pages == 0 :
            continue
        else:
            writer.writerow(row)

In [18]:
# 解决问题：删除第一列
import pandas as pd
import csv
 
data = pd.read_csv("/Users/zhaozihao/Desktop/删除问题数据结果.csv")
# 去除上述步骤的第一列数据 
data_new=data.drop(columns=["ID"]) 
# 写入新的csv文件 
data_new.to_csv("/Users/zhaozihao/Desktop/简洁.csv",index=0)

In [9]:
# 检查是否将num_pages==0的数据删除
import pandas as pd

data_clean = pd.read_csv("/Users/zhaozihao/Desktop/简洁.csv")
count_num_pages = 0
for row in data_clean.itertuples():
    if row.num_pages == 0 :
        print(row.bookID)
        count_num_pages = count_num_pages + 1
print('-------------合计有:')
print(count_num_pages)

-------------合计有:
0

In [10]:
data_clean.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,year,publisher
0,8253,Little Town on the Prairie (Little House #7),Laura Ingalls Wilder/Garth Williams,4.19,60885432,9.780000e+12,eng,374,71853,646,2007,HarperTrophy
1,11101,First Comes Love (Hot Water California #1),Christie Ridgway,3.81,380818957,9.780000e+12,en-US,384,1051,47,2002,Avon Books
2,28193,When Santa Fell to Earth,Cornelia Funke/Paul Howard/Oliver G. Latsch,3.76,043978204X,9.780000e+12,eng,167,1840,245,2006,Chicken House / Scholastic
3,25047,The Case of the Stinky Science Project (Jigsaw...,James Preller/John Speirs/James Preller,3.83,439114284,9.780000e+12,en-US,80,162,11,2001,Scholastic Paperbacks
4,17800,Dance Dance Dance,Haruki Murakami,4.04,99448769,9.780000e+12,eng,393,50169,2117,2002,Vintage

In [11]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9932 entries, 0 to 9931
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              9932 non-null   int64
 1   title               9932 non-null   object
 2   authors             9932 non-null   object
 3   average_rating      9932 non-null   float64
 4   isbn                9932 non-null   object
 5   isbn13              9932 non-null   float64
 6   language_code       9932 non-null   object
 7   num_pages           9932 non-null   int64
 8   ratings_count       9932 non-null   int64
 9   text_reviews_count  9932 non-null   int64
 10  year                9932 non-null   int64
 11  publisher           9932 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 931.2+ KB

In [12]:
data_clean.year.value_counts()

2006    1501
2005    1123
2004     960
2003     823
2002     741
        ...
1922       1
1948       1
1940       1
1900       1
1928       1
Name: year, Length: 85, dtype: int64

In [ ]:
# 到目前为止，将干净的格式为‘year’的‘年.csv’（10000条records）转换为
# ------>删除掉‘num_pages == 0’问题数据的‘简洁.csv‘（9932条records）