In [29]:
# train.csv:原数据集
# train_transcode.csv:utf-8转码后的数据集
# train_supplement.csv:手动填充的数据集
# 结果：train_supplement.csv测试正常，test_supplement.csv测试多了两条数据（建议删除）

In [30]:
import csv
import pandas as pd

path = '/Users/zhaozihao/Desktop/Dataset/'

# 转成utf-8的编码
with open(path + 'Train.csv', 'r', encoding='utf-8', errors='ignore') as infile, open(path + 'train_transcode.csv', 'w') as outfile:
     inputs = csv.reader(infile)
     output = csv.writer(outfile)
     output.writerow(["bookID","title","authors","average_rating","isbn","isbn13","language_code","num_pages","ratings_count","text_reviews_count","publication_date","publisher"])

     for index, row in enumerate(inputs):
         # 去除头部标签的内容
         if index == 0:
             continue
         output.writerow(row)

with open(path + 'Test.csv', 'r', encoding='utf-8', errors='ignore') as infile, open(path + 'test_transcode.csv', 'w') as outfile:
     inputs = csv.reader(infile)
     output = csv.writer(outfile)
     output.writerow(["bookID","title","authors","average_rating","isbn","isbn13","language_code","num_pages","ratings_count","text_reviews_count","publication_date","publisher"])
     
     for index, row in enumerate(inputs):
         # 去除头部标签的内容
         if index == 0:
             continue
         output.writerow(row)

train_file = "/Users/zhaozihao/Desktop/Dataset/train_transcode.csv"
test_file = "/Users/zhaozihao/Desktop/Dataset/test_transcode.csv"
train = pd.read_csv(train_file,encoding='utf-8')
test = pd.read_csv(test_file,encoding='utf-8')

In [31]:
train.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,8253,Little Town on the Prairie (Little House #7),Laura Ingalls Wilder/Garth Williams,4.19,60885432,9.78006E+12,eng,374,71853,646,1/1/2007,HarperTrophy
1,11101,First Comes Love (Hot Water California #1),Christie Ridgway,3.81,380818957,9.78038E+12,en-US,384,1051,47,1/1/2002,Avon Books
2,28193,When Santa Fell to Earth,Cornelia Funke/Paul Howard/Oliver G. Latsch,3.76,043978204X,9.78044E+12,eng,167,1840,245,10/1/2006,Chicken House / Scholastic
3,25047,The Case of the Stinky Science Project (Jigsaw...,James Preller/John Speirs/James Preller,3.83,439114284,9.78044E+12,en-US,80,162,11,3/1/2001,Scholastic Paperbacks
4,17800,Dance Dance Dance,Haruki Murakami,4.04,99448769,9.7801E+12,eng,393,50169,2117,2/7/2002,Vintage

In [32]:
test.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,28898,Fundamentals of Heat and Mass Transfer [with I...,Frank P. Incropera/David P. DeWitt,NaN,470055545,9.78E+12,en-US,997,6,0,10/30/2006,Wiley
1,39358,Stud Rites (A Dog Lover's Mystery #9),Susan Conant,NaN,425201597,9.78E+12,eng,237,322,16,3/1/2005,Berkley Prime Crime Books
2,32695,El talismán,Stephen King/Peter Straub/Pilar Giralt Gorina,NaN,8408042432,9.79E+12,spa,375,12,1,7/1/2003,Planeta Publishing
3,15096,Five Quarters of the Orange,Joanne Harris,NaN,60958022,9.78E+12,eng,307,26258,1936,6/4/2002,Harper Perennial
4,15428,Up in a Heaval (Xanth #26),Piers Anthony,NaN,812574990,9.78E+12,eng,342,2364,25,10/19/2003,Tor Fantasy

In [33]:
import chardet

# 以二进制模式读取文件，统计乱码比例
f1 = open(file=path + 'train_transcode.csv',mode='rb')
data1 = f1.read() 
f1.close()
result1 = chardet.detect(data1) # 检测文件内容
print('train_dataset:')
print(result1)

f2 = open(file= path + 'test_transcode.csv',mode='rb')
data2 = f2.read() 
f2.close() 
result2 = chardet.detect(data2) # 检测文件内容
print('test_dataset:')
print(result2)

train_dataset:
{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}
test_dataset:
{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [34]:
# 找出缺失的数据
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              10000 non-null  int64
 1   title               10000 non-null  object
 2   authors             10000 non-null  object
 3   average_rating      10000 non-null  object
 4   isbn                10000 non-null  object
 5   isbn13              10000 non-null  object
 6   language_code       10000 non-null  object
 7   num_pages           10000 non-null  int64
 8   ratings_count       10000 non-null  int64
 9   text_reviews_count  10000 non-null  object
 10  publication_date    10000 non-null  object
 11  publisher           9978 non-null   object
dtypes: int64(3), object(9)
memory usage: 937.6+ KB

In [35]:
# 根据上面的结果针找出缺失数据的列
publisher_null = train['publisher'].isnull()
train.loc[publisher_null,:]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
566,31999,鋼之鍊金術師 7,Hiromu Arakawa/荒川?方郁?4.57,9861146156,9.78986E+12,zho,191,5,0,6/12/2004,東立,NaN
907,13598,ヒカルの?13、プロ第一?Yumi Hotta/Yumi Hotta,4.26,4088731441,9.78409E+12,jpn,195,11,2,8/8/2001,集英?,NaN
1452,31998,鋼之鍊金術師 2,Hiromu Arakawa/荒川?方郁?4.52,9861146105,9.78986E+12,zho,185,5,0,6/1/2004,東立,NaN
1519,15318,魔戒二部曲：雙城奇謀,J.R.R. Tolkien/托爾?Alan Lee/朱學?4.44,9570823372,9.78957E+12,zho,467,24,0,12/20/2001,聯經出版事業股份有限公司,NaN
2784,5991,混血王子的背?(哈利波特 #6),J.K. Rowling/J.K.羅琳/皇冠編譯?張定?彭倩文/趙丕?林靜?4.57,9573321742,9.78957E+12,zho,735,75,0,10/1/2005,皇冠文化出版有限公司,NaN
3122,13595,ヒカルの?7、若獅子?Yumi Hotta/Yumi Hotta,4.26,4088728734,9.78409E+12,jpn,208,9,2,6/7/2000,集英?,NaN
3612,2885,DEATH NOTE デスノー?1,Tsugumi Ohba/Takeshi Obata/大場 つぐ?小畑 ?4.43,4088736214,9.78409E+12,jpn,195,227,38,4/2/2004,集英?,NaN
3635,31996,鋼之鍊金術師 9,Hiromu Arakawa/荒川?方郁?4.57,9861156526,9.78986E+12,zho,184,4,0,12/16/2004,東立,NaN
3850,13596,ヒカルの?15、さよな?Yumi Hotta/Yumi Hotta,4.25,4088732154,9.78409E+12,jpn,211,289,8,12/24/2001,集英?,NaN
3924,13608,ヒカルの?9、本戦開?Yumi Hotta/Yumi Hotta,4.27,4088730224,9.78409E+12,jpn,207,9,2,10/9/2000,集英?,NaN
3956,22932,Emma Vol. 01,Kaoru Mori/??3.83,1401211321,9.7814E+12,eng,183,3515,339,9/20/2006,CMX,NaN
4398,31995,鋼之鍊金術師 4,Hiromu Arakawa/荒川?方郁?4.55,9861146121,9.78986E+12,zho,189,5,0,6/2/2004,東立,NaN
4446,34241,焼きたて!!ジャぱん 1,Takashi Hashiguchi/橋口 たか?3.97,4091263917,9.78409E+12,jpn,187,6,0,3/18/2002,小学?,NaN
4603,13602,ヒカルの?16、中国棋?Yumi Hotta/Yumi Hotta,4.15,4088732324,9.78409E+12,jpn,191,282,7,3/4/2002,集英?,NaN
4856,31994,鋼之鍊金術師 10,Hiromu Arakawa/荒川?方郁?4.6,9861156534,9.78986E+12,zho,188,3,0,3/23/2005,東立,NaN
4962,24796,Zorro,Isabel Allende/Margaret Sayers Peden/محمدعلی م...,006078721X,9.78006E+12,eng,677,16324,1145,5/3/2005,HarperLargePrint,NaN
5609,15294,魔戒首部曲：魔戒現身,J.R.R. Tolkien/托爾?Alan Lee/朱學?4.36,9570823364,9.78957E+12,zho,608,26,0,12/20/2001,聯經出版事業股份有限公司,NaN
5873,31992,鋼之鍊金術師 1,Hiromu Arakawa/荒川?方郁?4.5,9861146091,9.78986E+12,zho,183,9,1,6/1/2004,東立,NaN
5964,31997,鋼之鍊金術師 5,Hiromu Arakawa/荒川?方郁?4.56,986114613X,9.78986E+12,zho,189,6,0,6/2/2004,東立,NaN
7397,29159,焼きたて!!ジャぱん 9 [Yakitate!! Japan 9],Takashi Hashiguchi/橋口 たか?3.99,4091263992,9.78409E+12,jpn,190,2,0,10/18/2003,小学?,NaN
7528,13603,ヒカルの?6、院生試?Yumi Hotta/Takeshi Obata,4.22,4088728491,9.78409E+12,jpn,211,8,2,4/9/2000,集英?,NaN
8696,31993,鋼之鍊金術師 6,Hiromu Arakawa/荒川?方郁?4.58,9861146148,9.78986E+12,zho,191,5,0,6/2/2004,東立,NaN

In [36]:
# train['publication_date'] = pd.to_datetime(train['publication_date']).dt.year
# columns = {'publication_date':'year'}
# train.rename(columns = columns,inplace = True)
# train['year'].apply(int).head()

In [37]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              1000 non-null   int64
 1   title               1000 non-null   object
 2   authors             1000 non-null   object
 3   average_rating      0 non-null      float64
 4   isbn                1000 non-null   object
 5   isbn13              1000 non-null   object
 6   language_code       1000 non-null   object
 7   num_pages           1000 non-null   int64
 8   ratings_count       1000 non-null   int64
 9   text_reviews_count  1000 non-null   object
 10  publication_date    1000 non-null   object
 11  publisher           998 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 93.9+ KB

In [38]:
# 根据上面的结果找出缺失数据的列
publisher_null = test['publisher'].isnull()
test.loc[publisher_null,:]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
484,6588,The Big Bad Wolf (Alex Cross #9),James Patterson/مریم کاظمی‌تبا?3.99,NaN,9.78E+12,eng,400,42096,945,10/1/2004,Grand Central Publishing,NaN
851,14731,戰廢?Ha Jin/季思聰,3.79,NaN,9.79E+12,zho,392,1,0,11/1/2005,時報出版,NaN

In [43]:
# 新的手动填充的数据集
train_supplement_file = "/Users/zhaozihao/Desktop/Dataset/train_supplement.csv"
test_supplement_file = "/Users/zhaozihao/Desktop/Dataset/test_supplement.csv"
train = pd.read_csv(train_supplement_file,encoding='utf-8')
test = pd.read_csv(test_supplement_file,encoding='utf-8')

In [44]:
# 找出缺失的数据
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              10000 non-null  int64
 1   title               10000 non-null  object
 2   authors             10000 non-null  object
 3   average_rating      10000 non-null  float64
 4   isbn                10000 non-null  object
 5   isbn13              10000 non-null  float64
 6   language_code       10000 non-null  object
 7   num_pages           10000 non-null  int64
 8   ratings_count       10000 non-null  int64
 9   text_reviews_count  10000 non-null  int64
 10  publication_date    10000 non-null  object
 11  publisher           10000 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 937.6+ KB

In [47]:
# 找出缺失的数据
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              1000 non-null   int64
 1   title               1000 non-null   object
 2   authors             1000 non-null   object
 3   average_rating      0 non-null      float64
 4   isbn                998 non-null    object
 5   isbn13              1000 non-null   float64
 6   language_code       1000 non-null   object
 7   num_pages           1000 non-null   int64
 8   ratings_count       1000 non-null   int64
 9   text_reviews_count  1000 non-null   int64
 10  publication_date    1000 non-null   object
 11  publisher           1000 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 93.9+ KB

In [48]:
# 根据上面的结果针找出缺失数据的列
isbn_null = test['isbn'].isnull()
test.loc[isbn_null,:]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
484,6588,The Big Bad Wolf (Alex Cross #9),James Patterson/مریم کاظمی‌تبا?3.99,NaN,NaN,9.780000e+12,eng,400,42096,945,10/1/2004,Grand Central Publishing
851,14731,戰廢?Ha Jin/季思聰,3.79,NaN,NaN,9.790000e+12,zho,392,1,0,11/1/2005,時報出版

In [ ]:
# 上面的这两条数据很是诡异,这两个数据我觉得应该删除